<% if(collection.models.length > 0) { %>
    <ul>
    <% collection.each(function(item) { %>
        <li><a href='#segments/<%= item.cid %>'><%= item.get('date') %> - <%= item.get('destination') %></a></li>
    <% }); %>
    </ul>
<% } else { %>
    <h3>No documents!</h3>
<% } %>

